.Header {
   // position: fixed;
    background-color: #17202A  ;
    //color: white;
    height: 50px;
    border: solid rgb(155, 151, 151);

    .logo {
        color: red;
        position: absolute;
        left: 155px;
        top: 17px;
        font-size: 30px;
        font-style: oblique;
    }
}
@media screen and (max-width: 768px) {
    .Header{
        .logo {
            left: 20%;
        }
    }
} 