.Nav {
    // height: 140px;
    // border: solid rgb(155, 151, 151);
    // background-color: #17202A  ;
    .icon {
        width: 25px;
        position: absolute;
        color: rgb(145, 145, 145); 
        display: block;
        svg {
            width: 100%;
            height: auto;
        }
        &:hover{
            color: white;          
        }
    }
    .menubar {
        left: 11px;
        top: 9px;
        padding: 12px;
    }
    .menu1 {
        z-index: 1;
        height: 100%;
        position: absolute;
        padding: 30px;
        background-color:whitesmoke;
        width: 200px;
        top: 61px;
        .inmenu {
            
                // .b {
                // background-color:rgb(254, 81, 81);
                // padding: 2px;
                // }
            
            color: #99A3A4  ;
            font-size: 18px;
            padding: 20px;
            cursor: default;
            .rooms {
                padding: 20px;
                &:hover {
                    text-decoration: underline red;
                }
            }
            .contact   {
                padding: 20px;
                &:hover {
                    text-decoration: underline red;
                }
            }
            .about   {
                padding: 20px;
                &:hover {
                    text-decoration: underline red;
                }
            }
            .login {
                a {
                    padding: 20px;
                    &:hover {
                        text-decoration: underline red;
                    }
                }
            }
        }
    }
    .xmenu {
        top: 12px;
        height: 25px;
        position: absolute;
        color: black;
        width: 20px;
        left: 11px;
        padding: 12px;
        background-color: whitesmoke;
        svg {
            width: 100%;
            height: auto;
        }
    }
    .search {
        right: 70px;
        top: 24px;
        //text-decoration: underline;
    }
    .user {
        right: 25px;
        top: 23px;
    }
    .input {
        border: none;
        position: absolute;
        border-radius: 20px;
        background-color: whitesmoke;
        font-size: 20px;
        width: 300px;
        left: 50px;
        top:70px
        
    }
    .menu768 {
        width: 318px;
        left: 280px;
        color: seashell;
        position: absolute;
        top: 12px;
        .a {
            
            padding: 15px;
            display: inline-block;
            cursor: default;
            
            &:hover {
                background-color: #2C3E50  ;
            }
        }
    }
}
@media screen and (min-width: 768px){
    .Nav {
        .input {
            left: 280px;
        }
    }
}
@media screen and (min-width: 1024px){
    .Nav {
        .input {
           // position: absolute;
            left: 60%;
            top: 25px;
        }
    }
}