.Nav {
    // height: 140px;
    // border: solid rgb(155, 151, 151);
    // background-color: #17202A  ;
    
    .icon {
        width: 25px;
        position: absolute;
        color: rgb(145, 145, 145); 
        display: block;
        svg {
            width: 100%;
            height: auto;
        }
        &:hover{
            color: white;          
        }
    }
    .menubar {
        left: 11px;
        top: 9px;
        padding: 12px;
    }
    .menu1 {
        z-index: 1;
        height: 100%;
        position: absolute;
        padding: 30px;
        background-color:whitesmoke;
        width: 200px;
        top: 61px;


        .inmenu {
            
            text-align: center;
            margin: 55px;
            .inactive {

                //padding: 20px;
                margin-bottom: 50px;
                display: block;
                color: grey;
                text-decoration: none;
            }
                // .b {
                // background-color:rgb(254, 81, 81);
                // padding: 2px;
                // }
            
            
            //  padding: 20px;
            // cursor: default;
            
                a {
                    color: #99A3A4  ;
                    font-size: 20px;
                    //padding: 50px;
                    border-bottom: 5px solid transparent;
                    //transition: 1s;
                    display: inline-block;
                    
                    &:hover {
                        //text-decoration:  underline  red;
                        
                        display: inline-block;
                        border-bottom: 5px red solid;
                        transition: 1s;
                    }
                    &.active {
                        border-bottom: 5px red solid;
                        display: inline-block;
                    }
                    
                }
            
        }
    }
    .xmenu {
        
        top: 12px;
        height: 25px;
        position: absolute;
        color: black;
        width: 20px;
        left: 11px;
        padding: 12px;
        background-color: whitesmoke;
        //padding-left: px;
        font-size: 30px;
        svg {
            width: 100%;
            height: auto;
        }
    }
    .search {
        right: 70px;
        top: 24px;
        z-index: 1;
        
    }
    .user {
        right: 25px;
        top: 23px;
    }
    .input {
        //-webkit-loca
        word-spacing: 20px; 
        letter-spacing: 4px; 
        line-height: 1.5;
        border: none;
        //position: fixed;
        // justify-content: center;
        border-radius: 20px;
        background-color: whitesmoke;
        font-size: 20px;
        width: 280px;
        right: 20px;
        top:70px;
        
    }
    .menu768 {
        width: 318px;
        left: 280px;
        color: seashell;
        position: absolute;
        top: 12px;
        
        .inactive {
            color: rgb(145, 145, 145);
            &.active {
                border-bottom: 5px red solid;
                padding-bottom: 15px;
            }
            
        }
        
        
        .a {
            
            padding: 15px;
            display: inline-block;
            cursor: default;
            
            &:hover {
                background-color: #2C3E50  ;
                border-bottom: 5px red solid;
                
            }
            
            
            
        }
    }
}
@media screen and (min-width: 768px){
    .Nav {
        .input {
            left: 280px;
            
        }
    }
}
@media screen and (min-width: 1024px){
    .Nav {
        .input {
           // position: absolute;
            left: 60%;
            top: 25px;
        }
    }
}